{% extends "layouts/base.html" %}

{% block title %} Bacaan {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row" style="margin-top: -7%;">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h3 class="card-title">Cek Bacaan Per Ayat</h3>
                </div>
                <div class="card-body">
                  <div style="margin-top: 3%;">
                    <form>
                      <div class="row" style="margin-left: 0%;">
                        <div class="col-md-1">
                        </div>

                        <div class="col-md-2">
                          <div class="form-group">
                            <label class="text-center" style="font-size: 12px">Nama Surat</label>
                            <select id="surat_selection" class="form-control text-center" style="width: 230px; font-size: 16px;"></select>
                          </div>
                        </div>
                        <div class="col-md-1" style="margin-left: 10%;">
                          <div class="form-group">
                            <label class="text-center" style="font-size: 12px">Ayat</label>
                            <select id="ayat_selection" class="form-control text-center" style="width: 50px; font-size: 16px;"></select>
                          </div>
                        </div>

                      </div>
                    </form>
                    <div style="margin-top: -5%; margin-left: 50%;">
                      <button id="acak" type="button" rel="tooltip" class="btn btn-info btn-round">
                        <i class="material-icons">swap_horiz</i> Acak</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12" style="margin-top: -3%;">
              <div class="card">
                <div class="card-header">
                  <div>
                    <button id="previous" type="button" rel="tooltip" class="btn btn-default btn-round" style="margin-left: 40%;">
                      <i class="material-icons">west</i></button>
                    <div data-role="controls" style="margin-top: -4.8%; margin-left: 47.5%;">
                      <button id="rekam" type="button" rel="tooltip" class="btn btn-success btn-round">
                        <i id="icon-rekam" class="material-icons">mic_none</i> Rekam</button>
                    </div>
                    <div data-role="recordings"></div>
                    <button id="next" type="button" rel="tooltip" class="btn btn-default btn-round" style="margin-top: -6.5%; margin-left: 59.2%;">
                      <i class="material-icons">east</i></button>
                    <button id="ulangi" type="button" rel="tooltip" class="btn btn-primary btn-round" style="margin-top: -6.3%; margin-bottom: 1%; margin-left: 85%; display: none;">
                      <i class="material-icons">cached</i> Ulangi</button>
                  </div>
                </div>
                <div style="margin-top: 0%;">
                  <img id="gambar_ayat" src="{{ file_img }}" style="width: 75vw; min-width: 350px;">
                </div>
                <div style="margin-right: 5%; margin-top: -3%; margin-bottom: 5%;">
                    <p class="target" dir="rtl" style="color:#2e4053; font-size:16px;" align="right"></p>
                    <p class="target" dir="rtl" lang="ar" style="color:#2e4053; font-size:26px; line-height:2;" align="right"></p>
                </div>
                <div style="margin-right: 5%; margin-top: -1%; margin-bottom: 5%;">
                    <p class="prediction" dir="rtl" style="color:#2e4053; font-size:16px;" align="right"></p>
                    <p class="prediction" dir="rtl" lang="ar" style="color:#2e4053; font-size:26px; line-height:2;" align="right"></p>
                </div>
<!--                 <div class="card-body">
                  <div id="typography">
                    <div class="row">
                      <div class="tim-typo" style="margin-left: 10%; margin-right: 5%;">
                        <p id="arti">{{ terjemah }}</p>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>

        </div>



{% endblock content %}







<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/js/recorder.js"></script>
<script src="/static/assets/js/get_wav.js"></script>
<script>
// random int generator
function getRandomInt(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min) + min); //The maximum is exclusive and the minimum is inclusive
}

// from django database
var max_ayat = {{ max_ayat }};
var list_nama_surat = {{ list_nama_surat | safe }};
// var arti = {{ arti | safe }};
var quran_dict = {{ quran_dict | safe }};

// set surat selection
var start = document.getElementById('surat_selection');
for ( i=0; i<114; i++ ) {
    surat = list_nama_surat[i];
    newopt = document.createElement('option');
    newopt.value = surat;
    newopt.innerHTML = surat;
    newopt.style="font-size: 16px";
    start.appendChild(newopt);
}
// set ayat selection
function set_ayat() {
    // reset DOM
    let element = document.getElementById("ayat_selection");
    while (element.firstChild) {
      element.removeChild(element.firstChild);
    };
    var start = document.getElementById('ayat_selection');
    no_surat = list_nama_surat.indexOf(document.getElementById("surat_selection").value) + 1;
    for ( i=1; i<=max_ayat[no_surat-1]; i++ ) {
        newopt = document.createElement('option');
        newopt.value = i;
        newopt.innerHTML = i;
        newopt.style="font-size: 16px";
        start.appendChild(newopt);
    } 
};

// initiate default value (AlFatihah:1)
document.getElementById("surat_selection").value = list_nama_surat[0];
set_ayat();
document.getElementById("ayat_selection").value = 1;
document.getElementById("gambar_ayat").src = '/static/all_ayat/1_1.png';

// reset results
function reset() {
    no_surat = list_nama_surat.indexOf(document.getElementById("surat_selection").value) + 1;
    ayat = document.getElementById("ayat_selection").value;
    document.getElementById("gambar_ayat").src = '/static/all_ayat/' + no_surat + '_' + ayat +'.png';
    document.getElementsByClassName('prediction')[0].innerHTML = "";
    document.getElementsByClassName('prediction')[1].innerHTML = "";
    document.getElementsByClassName('target')[0].innerHTML = "";
    document.getElementsByClassName('target')[1].innerHTML = "";
    // show "ULANGI" button
    document.getElementById("ulangi").style.display = "none"
    return [no_surat, ayat]
}
$( "#ulangi" ).click(function() {
    reset();
});

// get random ayat
$( "#acak" ).click(function() {
    ret = reset();
    no_surat = getRandomInt(1, 115);
    ayat = getRandomInt(1, max_ayat[no_surat-1]+1);
    document.getElementById("surat_selection").value = list_nama_surat[no_surat-1];
    set_ayat();
    document.getElementById("ayat_selection").value = ayat;
    document.getElementById("gambar_ayat").src = '/static/all_ayat/' + no_surat + '_' + ayat +'.png';
    terjemah();
});

// get ayat based on the chosen values
$( "#surat_selection" ).change(function() {
    ret = reset();
    set_ayat();
    no_surat = parseInt(ret[0]);
    document.getElementById("surat_selection").value = list_nama_surat[no_surat-1];
    document.getElementById("ayat_selection").value = 1;
    document.getElementById("gambar_ayat").src = '/static/all_ayat/' + no_surat + '_1.png';
    terjemah();
});
$( "#ayat_selection" ).change(function() {
    ret = reset();
    no_surat = parseInt(ret[0]);
    ayat = parseInt(ret[1]);
    document.getElementById("gambar_ayat").src = '/static/all_ayat/' + no_surat + '_' + ayat +'.png';
    terjemah();
});


// get next ayat
$( "#next" ).click(function() {
    ret = reset();
    no_surat = parseInt(ret[0]);
    ayat = parseInt(ret[1]);
    if (ayat == max_ayat[no_surat-1]) {
        no_surat = no_surat + 1;
        ayat = 1;
    }
    else {
        ayat = ayat + 1;
    }
    if (no_surat == 115) {
        alert('tidak ada ayat');
    }
    else {
        document.getElementById("surat_selection").value = list_nama_surat[no_surat-1];
        set_ayat();
        document.getElementById("ayat_selection").value = ayat;
        document.getElementById("gambar_ayat").src = '/static/all_ayat/' + no_surat + '_' + ayat +'.png';
    }
    terjemah();
});

// get previous ayat
$( "#previous" ).click(function() {
    ret = reset();
    no_surat = parseInt(ret[0]);
    ayat = parseInt(ret[1]);
    if (ayat == 1) {
        no_surat = no_surat - 1;
        ayat = max_ayat[no_surat-1];
    }
    else {
        ayat = ayat - 1;
    }
    if (no_surat == 0) {
        alert('tidak ada ayat');
    }
    else {
        document.getElementById("surat_selection").value = list_nama_surat[no_surat-1];
        set_ayat();
        document.getElementById("ayat_selection").value = ayat;
        document.getElementById("gambar_ayat").src = '/static/all_ayat/' + no_surat + '_' + ayat +'.png';
    }
    terjemah();
});

// get translation
function terjemah() {
    no_surat = document.getElementById("surat_selection").value;
    ayat = document.getElementById("ayat_selection").value;
    // document.getElementById("arti").innerHTML = arti[no_surat + '_' + ayat] + '  (QS ' + no_surat + ' : ' + ayat + ')';
}

// upload function using ajax
function upload(blob) {
    var data = new FormData();
    data.append('csrfmiddlewaretoken', '{{ csrf_token }}')
    data.append('file', blob);
    $.ajax({
      url : "{% url 'bacaan' %}",
      type: 'POST',
      data: data,
      contentType: false,
      processData: false,
      success: function(data) {
        no_surat = document.getElementById("surat_selection").value.split('.')[0];
        ayat = document.getElementById("ayat_selection").value;
        target = quran_dict[no_surat + '_' + ayat];
        // highlight missing words in target ayat
        text_target = '';
        for ( i=0; i<target.length; i++ ) {
            if (data.prediction.includes(target[i])) {
                text_target += target[i] + " ";
            }
            else {
                text_target += "<span style='background-color: #2cf13b;'>" + target[i] + "</span>" + " ";
            }                
        }   
        // highlight mistakes in predicted ayat
        text_prediction = '';
        for ( i=0; i<data.prediction.length; i++ ) {
            if (target.includes(data.prediction[i])) {
                text_prediction += data.prediction[i] + " ";
            }
            else {
                text_prediction += "<span style='background-color: #FFFF00;'>" + data.prediction[i] + "</span>" + " ";
            }                
        }
        // show results
        document.getElementsByClassName('target')[0].innerHTML = "<strong>Bacaan Seharusnya</strong> <br> (<strong><span style='background-color: #2cf13b'>hijau</span></strong> mengindikasikan kata yang tidak terbaca)";
        document.getElementsByClassName('target')[1].innerHTML = text_target;
        document.getElementById("gambar_ayat").src = ""
        document.getElementsByClassName('prediction')[0].innerHTML = "<strong>Bacaan Yang Terdeteksi</strong> <br> (<strong><span style='background-color: #FFFF00'>kuning</span></strong> mengindikasikan kata yang salah)";
        document.getElementsByClassName('prediction')[1].innerHTML = text_prediction;
        // show "ULANGI" button
        document.getElementById("ulangi").style.display = "block"
        }
    });
} 
</script>
{% endblock javascripts %}

