{% extends "layouts/base.html" %}

{% block title %} Hafalan {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h3 class="card-title">Cek Hafalan</h3>
                </div>
                <div class="card-body">
                  <div style="margin-top: 3%;">
                    <form>
                      <div class="row" style="margin-left: 0%;">
                        <div class="col-md-1">
                        </div>

                        <div class="col-md-2">
                          <div class="form-group">
                            <label class="text-center" style="font-size: 12px">Nama Surat</label>
                            <select id="surat_selection" class="form-control text-center" style="width: 230px; font-size: 16px;"></select>
                          </div>
                        </div>
                        <div class="col-md-2" style="margin-left: 10%;">
                          <div class="form-group">
                            <label class="text-center" style="font-size: 12px">Mulai Ayat</label>
                            <select id="start_ayat_selection" class="form-control text-center" style="width: 50px; font-size: 16px;"></select>
                          </div>
                        </div>
                        <div class="col-md-2" style="margin-left: -5%;">
                          <div class="form-group">
                            <label class="text-center" style="font-size: 12px">Sampai Ayat</label>
                            <select id="end_ayat_selection" class="form-control text-center" style="width: 50px; font-size: 16px;"></select>
                          </div>
                        </div>

                      </div>
                    </form>
                    <div style="margin-top: -5%; margin-left: 50%;">
                      <div data-role="controls" style="margin-top: -4.8%; margin-left: 47.5%;">
                        <button id="rekam" type="button" rel="tooltip" class="btn btn-success btn-round">
                          <i id="icon-rekam" class="material-icons">mic_none</i> Rekam</button>
                      </div>
                      <div data-role="recordings"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12" style="margin-top: -3%;">
              <div class="card">
                <div class="card-header">
                  <div>
                    <button id="ulangi" type="button" rel="tooltip" class="btn btn-primary btn-round" style="float: right; margin-right: 3%; display: none;">
                      <i class="material-icons">cached</i> Ulangi</button>
                  </div>
                </div>
                <div style="margin-right: 5%; margin-top: 0%; margin-bottom: 5%;">
                    <p class="target" dir="rtl" style="color:#2e4053; font-size:16px;" align="right"></p>
                    <p class="target" dir="rtl" lang="ar" style="color:#2e4053; font-size:26px; line-height:2;" align="right"></p>
                </div>
              </div>
            </div>

        </div>



{% endblock content %}







<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/js/recorder.js"></script>
<script src="/static/assets/js/get_wav.js"></script>
<script>
$.getJSON("{% url 'metadata_ayatQuran' %}", function(data) {window.quran_dict = data});
// set ayat selection
function set_start_ayat() {
    // reset DOM
    let element = document.getElementById("start_ayat_selection");
    while (element.firstChild) {
      element.removeChild(element.firstChild);
    };
    var start = document.getElementById('start_ayat_selection');
    no_surat = parseInt(document.getElementById("surat_selection").value.split('.')[0]);
    for ( i=1; i<=max_ayat[no_surat]; i++ ) {
        newopt = document.createElement('option');
        newopt.value = i;
        newopt.innerHTML = i;
        newopt.style="font-size: 16px";
        start.appendChild(newopt);
    } 
};
function set_end_ayat() {
    // reset DOM
    let element = document.getElementById("end_ayat_selection");
    while (element.firstChild) {
      element.removeChild(element.firstChild);
    };
    var start = document.getElementById('end_ayat_selection');
    no_surat = parseInt(document.getElementById("surat_selection").value.split('.')[0]);
    start_ayat = document.getElementById("start_ayat_selection").value;
    for ( i=start_ayat; i<=max_ayat[no_surat]; i++ ) {
        newopt = document.createElement('option');
        newopt.value = i;
        newopt.innerHTML = i;
        newopt.style="font-size: 16px";
        start.appendChild(newopt);
    } 
};
// get required data and initiate state
$.getJSON("{% url 'metadata_listSurat' %}", function(data) {
    window.list_nama_surat = data;
    // set surat selection
    var start = document.getElementById('surat_selection');
    for ( i=1; i<=114; i++ ) {
        surat = list_nama_surat[i];
        newopt = document.createElement('option');
        newopt.value = surat;
        newopt.innerHTML = surat;
        newopt.style="font-size: 16px";
        start.appendChild(newopt);
    }
    $.getJSON("{% url 'metadata_maxAyat' %}", function(data) {
        window.max_ayat = data;
        // initiate default value (AlFatihah:1)
        document.getElementById("surat_selection").value = list_nama_surat[1];
        set_start_ayat();
        document.getElementById("start_ayat_selection").value = 1;
        set_end_ayat();
    });
});

// reset results
function reset() {
    document.getElementsByClassName('target')[0].innerHTML = "";
    document.getElementsByClassName('target')[1].innerHTML = "";
    // show "ULANGI" button
    document.getElementById("ulangi").style.display = "none"
}

$( "#ulangi" ).click(function() {
    reset();
});

// get ayat based on the chosen values
$( "#surat_selection" ).change(function() {
    reset();
    set_start_ayat();
    set_end_ayat();
    document.getElementById("surat_selection").value = list_nama_surat[no_surat];
    document.getElementById("start_ayat_selection").value = 1;
    document.getElementById("end_ayat_selection").value = 1;
});
$( "#start_ayat_selection" ).change(function() {
    reset();
    set_end_ayat();
    document.getElementById("end_ayat_selection").value = document.getElementById("start_ayat_selection").value;
});
$( "#end_ayat_selection" ).change(function() {
    reset();
});

// upload function using ajax
function upload(blob) {
    var data = new FormData();
    data.append('csrfmiddlewaretoken', '{{ csrf_token }}')
    data.append('file', blob);
    $.ajax({
      url : "{% url 'hafalan' %}",
      type: 'POST',
      data: data,
      contentType: false,
      processData: false,
      success: function(data) {
        var no_surat = document.getElementById("surat_selection").value.split('.')[0];
        console.log(quran_dict)
        var start_ayat = document.getElementById("start_ayat_selection").value;
        var end_ayat = document.getElementById("end_ayat_selection").value;

        // highlight missing words in target ayats
        var text_target = '';
        var tmp = data.prediction;
        for ( ayat=start_ayat; ayat<=end_ayat; ayat++ ) {
            text_target += '(' + ayat + ')';
            target = quran_dict[no_surat + '_' + ayat].split(' ');
            for ( i=0; i<target.length; i++ ) {
                if (tmp.includes(target[i])) {
                    text_target += target[i] + " ";
                    idx = tmp.indexOf(target[i]);
                    tmp.splice(idx, 1);
                }
                else {
                    text_target += "<span style='background-color: #FFFF00;'>" + target[i] + "</span>" + " ";
                }                
            }
            text_target += ' <br> ';
        }
        // show results
        document.getElementsByClassName('target')[0].innerHTML = "<strong>Bacaan Seharusnya</strong> <br> (<strong><span style='background-color: #FFFF00'>kuning</span></strong> mengindikasikan kata yang tidak terbaca)";
        document.getElementsByClassName('target')[1].innerHTML = text_target;
        // show "ULANGI" button
        document.getElementById("ulangi").style.display = "block"
        }
    });
} 
// // change mode
// $( "#mode_ayat" ).click(function() {
//     document.getElementById("tipe_mode").innerHTML = "Cek Hafalan Per Ayat";
// });
// $( "#mode_surat" ).click(function() {
//     document.getElementById("tipe_mode").innerHTML = "Cek Hafalan Per Surat";
// });
</script>
{% endblock javascripts %}